
/*slider */

.swiper-container {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width:100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.subslide-left {
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 65%;
    position: relative;
}
.subslide-right {
    width: 35%;
}
.sub-slide {
    display: block;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.slider-title {
      color: white;
    text-decoration: none;
    text-align: left;
    line-height: 25px;
    letter-spacing: 0px;
    font-weight: 600;
    font-size: 20px;
    padding-top: 5px;
}
.slider-cat {
  z-index: 8;
    background-color: rgb(21, 123, 59);
    font-family: Roboto;
    text-transform: uppercase;
    height: auto;
    width: auto;
    color: rgb(255, 255, 255);
    text-decoration: none;
/*    white-space: nowrap;*/
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: left;
    line-height: 25px;
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    backdrop-filter: none;
    filter: none;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
}
.slider-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: absolute;
    bottom: 22px;
    left: 20px;
}

/*content */


.row.noticas-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
/*    margin-right: -15px;
    margin-left: -15px;*/
    padding-top: 35px;
    padding-bottom: 20px;
}


.noticas-content.col-lg-3 {
  padding: 0;
  padding-right: 40px;
  padding-bottom: 50px;
}

.noticas-content.col-lg-3:nth-child(4) {
  padding-right: 0px;
}

.chrome .noticas-content.col-lg-3 {
  height: inherit;
}

.noticas-content .slider-cat {
      display: inline-block;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 10px;
}

.noticia-title {
  font-weight: 600;
    padding: 10px 0;
    font-size: 15px;
}

.noticia-title a {
  color: black;
}

.noticas-image {
    min-height: 265px;
    display: flex;
}
.noticas-image img {
  object-fit: cover;
}

.noticias-block {
      margin-top: 50px;
}







