/*slider */
.slider_content {
    position: relative;
}
.mainlogo {
    position: absolute;
    z-index: 9;
    top: 50px;
    left: 30px;
}
.swiper-container {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width:100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.subslide-left {
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 65%;
    position: relative;
}
.subslide-left::before,
.sub-slide::before {
    content: '';
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0.5;
}

.subslide-right {
    width: 35%;
}
.sub-slide {
    display: block;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.slider-title {
      color: white;
    text-decoration: none;
    text-align: left;
    line-height: 25px;
    letter-spacing: 0px;
    font-weight: 600;
    font-size: 24px;
    padding-top: 5px;
}
.slider-cat {
  z-index: 8;
    background-color: rgb(21, 123, 59);
    font-family: Roboto;
    text-transform: uppercase;
    height: auto;
    width: auto;
    color: rgb(255, 255, 255);
    text-decoration: none;
/*    white-space: nowrap;*/
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: left;
    line-height: 25px;
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    backdrop-filter: none;
    filter: none;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
}
.slider-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: absolute;
    bottom: 22px;
    left: 30px;
}

/*content */


.row.noticas-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
/*    margin-right: -15px;
    margin-left: -15px;*/
    padding-top: 35px;
    padding-bottom: 20px;
}

.row.explorars-wraper {
    flex-direction: column;
}

.noticas-content.col-lg-3 {
  padding: 0;
  padding-right: 40px;
  padding-bottom: 50px;
}
.noticas-content.col-lg-4 {
  padding: 0;
  padding-right: 40px;
  padding-bottom: 50px;
}

.noticas-content.col-lg-3:nth-child(4) {
/*  padding-right: 0px;*/
}

.chrome .noticas-content.col-lg-3 {
    height: inherit;
}

.chrome .noticas-content.col-lg-4 {
    height: inherit;
}

.noticas-content .slider-cat {
    display: inline-block;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 10px;
}

.noticia-title {
    font-weight: 600;
    padding: 5px 0 10px 0;
    font-size: 15px;
}

.noticia-title a {
    color: black;
}

.explorar-content .noticia-title a {
    color: #228848;
    text-transform: uppercase;
}

.noticia-date {
    padding-top: 5px;
    color: #157b3b;
    font-size: 14px;
}

.noticas-image {
    min-height: 265px;
    display: flex;
    position: relative;
}
.noticas-image img {
    object-fit: cover;
    width: 100%;
}
.divulgar-image.noticas-image img {
    /* object-fit: fill; */
    width: 100%;
}

.noticias-block {
    margin-top: 50px;
}

#noticas_result {
    display: flex;
    flex-wrap: wrap;
    margin-right: -40px;
    text-align: left;
}

.page-template-template-home .tui-pagination .tui-page-btn.locate-anything-page-nav,
.page-template-template-home .tui-pagination .tui-page-btn.custom-class-first,
.page-template-template-home .tui-pagination .tui-page-btn.custom-class-last,
.page-template-template-home .tui-pagination .tui-page-btn.tui-last-child,
.page-template-template-home .tui-pagination .tui-page-btn.tui-prev-is-ellip,
.archive.tax-explorars .tui-pagination .tui-page-btn.locate-anything-page-nav,
.archive.tax-explorars .tui-pagination .tui-page-btn.custom-class-first,
.archive.tax-explorars .tui-pagination .tui-page-btn.custom-class-last,
.archive.tax-explorars .tui-pagination .tui-page-btn.tui-last-child,
.archive.tax-explorars .tui-pagination .tui-page-btn.tui-prev-is-ellip  {
  display: none;
}

.pagination_text {
    margin: 0 auto;
    font-weight: 600;
    padding: 10px 0;
    font-size: 15px;
}

.page-template-template-home .tui-pagination .tui-next, 
.page-template-template-home .tui-pagination .tui-next-is-ellip, 
.page-template-template-home .tui-pagination .tui-prev, 
.page-template-template-home .tui-pagination .tui-prev-is-ellip,
.archive.tax-explorars .tui-pagination .tui-next, 
.archive.tax-explorars .tui-pagination .tui-next-is-ellip, 
.archive.tax-explorars .tui-pagination .tui-prev, 
.archive.tax-explorars .tui-pagination .tui-prev-is-ellip  {
    border: 2px solid #000;
}

.page-template-template-home  .tui-pagination .tui-page-btn:hover,
.archive.tax-explorars  .tui-pagination .tui-page-btn:hover {
    background-color: white;
}
.page-template-template-home .tui-pagination .tui-first+.tui-prev, 
.page-template-template-home .tui-pagination .tui-next+.tui-last, 
.page-template-template-home .tui-pagination .tui-next-is-ellip,
.archive.tax-explorars  .tui-pagination .tui-first+.tui-prev, 
.archive.tax-explorars .tui-pagination .tui-next+.tui-last, 
.archive.tax-explorars  .tui-pagination .tui-next-is-ellip {
    border-left: 2px solid;
}
.chrome .pagination_wrap.col-lg-12 {
    height: inherit;
    padding: 0;
}

.page-template-template-home .tui-pagination .tui-is-disabled .tui-ico-prev,
.archive.tax-explorars  .tui-pagination .tui-is-disabled .tui-ico-prev {
    background-position: -26px 0;
}

.pagination_text a {
  color: black;
}


#divulgar_result {
  display: flex;
    flex-wrap: wrap;
    margin-right: -40px;
    position: relative;
}

.divulgar-content a.divulgar-image:hover .t-entry-visual-overlay {
/*  opacity: 0.5;*/
}

.divulgar-content .t-entry-visual-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    transition: opacity 0.2s ease-in-out;
}
.divulgar-content .t-entry-visual-overlay  {
    width: 100%;
    height: 100%;
    background-color: #141618;
    opacity: 0.3;

}

.divulgar-image {
  position: relative;
/*  min-height: 320px;*/
min-height: 240px;
}

.divulgar-image:before {
  content: url(../img/yt.png);
  position: absolute;
/*    top: calc(50% - 60px);
    left: calc(50% - 40px);*/
     top: calc(50% - 46px);
    left: calc(50% - 44px);   
        z-index: 9;
}

.divulgar-title {
  position: absolute;
      bottom: 0;
    color: white;
    z-index: 9;
    padding: 15px;
}


/*video popup*/

/**
* Simple fade transition,
*/
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out; 
  -moz-transition: all 0.15s ease-out; 
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out; 
  -moz-transition: all 0.15s ease-out; 
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

/*page-template-template-noticia*/

.page-template-template-noticia .tui-pagination .tui-is-selected, .tui-pagination strong,
.page-template-template-divulgar .tui-pagination .tui-is-selected, .tui-pagination strong,
.page-template-template-explorar .tui-pagination .tui-is-selected, .tui-pagination strong  {
    /* color: #333333; */
    background: #333333;
    border-color: #333333;
    cursor: default;
    background-color: #eeeeee;
    border: none;
    border-radius: 50%;
}
.page-template-template-noticia .tui-pagination .tui-first-child.tui-is-selected {
    border-left: none;
}
.page-template-template-noticia .tui-pagination .tui-page-btn,
.page-template-template-noticia .tui-pagination .tui-next-is-ellip,
.page-template-template-noticia .tui-pagination .tui-next,
.page-template-template-divulgar .tui-pagination .tui-page-btn,
.page-template-template-divulgar .tui-pagination .tui-next-is-ellip,
.page-template-template-divulgar .tui-pagination .tui-next,
.page-template-template-explorar .tui-pagination .tui-page-btn,
.page-template-template-explorar .tui-pagination .tui-next-is-ellip,
.page-template-template-explorar .tui-pagination .tui-next {
    border: none;
    border-radius: 50%;
}

.grid-nav-link:hover {
  cursor: pointer;
}

.spinner-border {
    display: none;
    transition: opacity 0.5s ease;
    background-image: url('https://deco.pt/wp-content/themes/uncode/library/img/oval-anim-light.svg');
    width: 40px;
    background-repeat: no-repeat;
    position: absolute;
    height: 40px;
    left: 50%;
    top: 100px;
}
.sr-only {
  display: none;
}

.pagination_hide {
  display: none;
}

.noticas-content  {
    text-align: left;
}
.nofound {
  min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
        margin: 0 auto;
    text-align: center;
}


.green-block {
      background-color: #0C723C;
    min-height: 400px;
    color: white;
}

.btn-color-custom {
      background: white;
    color: #228848;
}
.style-light h2.green-h2 {
  color: white;
}
.green-title {
    font-size: 23px;
    font-weight: 600;

    padding-bottom: 15px;
    margin-top: 20px;
    min-height: 124px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.green-wraper article {
  text-align: center;
  padding: 65px;
}
.green-description {

    margin-bottom: 20px;
    margin-top: 10px;

}

.green-col {

}
.svg-wrap {
  min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.explorar-block {
  min-height: 500px;
}

.chrome .page-template-template-home .col-lg-6 {
  height: inherit;
}

.explorar-block .panel-group .panel-heading {

    background-color: #0C723C;
    color: white;
    padding: 0 20px;
}

.explorar-block .uncode-accordion:not(.default-typography)  .panel-title {
    font-size: 18px;
    line-height: 1;
    position: relative;
}
.explorar-block  .panel-title > a.term_parent_link {
    font-weight: 600;
}
.explorar-block  .panel-title > a.term_parent_collapse {
    position: absolute;
    right: 0;
    top: 8px;
}
.explorar-block  .panel-title > a {

}
a.explorar-link {
    font-weight: 600;
    margin-top: 10px;
    display: inline-block;
}
.explorar-block .uncode-accordion:not(.default-typography) .panel-title > a > span {
    font-size: 18px;
}

.explorar-block .panel-group .panel {
    border: none;
    margin-bottom: 10px;
}

.explorar-block .align_left .panel-title > a > span:after {
    content: "\f105";
    right: 0;
    margin-right: 0;
    border: 1px solid #FFF;
    padding: 3px 7px;
    border-style: dotted;
}

.explorar-block  .panel-title.active > a,
.explorar-block  .panel-title.active > a span:after {
  color: white !important;
}
.explorar-block  .panel-title.active > a span:after {
    transform: translateY(-50%) translateX(0%) rotate(90deg);
}
.explorar-block .panel-body {
    padding-left: 50px;
  }

.post-wraper a {
  color: black ;
  text-transform: uppercase;
  position: relative;
      padding-bottom: 5px;
    display: inline-block;
}

.post-wraper a:before {
    content: "\f105";
font-family: "uncodeicon";
    margin-top: 0px;
    font-weight: normal;
    font-size: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(0);
    transition: transform 200ms ease-out;
    left: -15px;

}
.post-wraper {
      border-bottom: 1px solid;
          border-color: #eaeaea;
}

.explorar-block .panel-group .panel-heading.termcolor-1,
.explorar-block .panel-group .panel-heading.termcolor-10 {
    background-color: rgb(12 114 60 / 96%);;
}
.explorar-block .panel-group .panel-heading.termcolor-2,
.explorar-block .panel-group .panel-heading.termcolor-11 {
    background-color: rgb(12 114 60 / 94%);;
}
.explorar-block .panel-group .panel-heading.termcolor-3,
.explorar-block .panel-group .panel-heading.termcolor-12 {
    background-color: rgb(12 114 60 / 90%);;
}
.explorar-block .panel-group .panel-heading.termcolor-4,
.explorar-block .panel-group .panel-heading.termcolor-13 {
    background-color: rgb(12 114 60 / 86%);;
}
.explorar-block .panel-group .panel-heading.termcolor-5,
.explorar-block .panel-group .panel-heading.termcolor-14 {
    background-color: rgb(12 114 60 / 82%);;
}
.explorar-block .panel-group .panel-heading.termcolor-6,
.explorar-block .panel-group .panel-heading.termcolor-15 {
    background-color: rgb(12 114 60 / 78%);;
}
.explorar-block .panel-group .panel-heading.termcolor-7,
.explorar-block .panel-group .panel-heading.termcolor-16 {
    background-color: rgb(12 114 60 / 74%);;
}
.explorar-block .panel-group .panel-heading.termcolor-8,
.explorar-block .panel-group .panel-heading.termcolor-17 {
    background-color: rgb(12 114 60 / 70%);;
}
.explorar-block .panel-group .panel-heading.termcolor-18 {
    background-color: rgb(12 114 60 / 66%);;
}





/*taxonomy */

.explorars-tax-head span {
    text-transform: uppercase;
}
.explorars-tax-sub-cat-list {
    display: flex;
/*    margin-top: 40px;
    margin-bottom: 40px;*/
}
.explorar-filter-link-new {
    color: white;
}
.explorars-tax-sub-cat-list .slider-cat {
    list-style: none;
    margin-right: 10px;
    margin-bottom: 5px;
    width: fit-content;
}
.explorars-tax-sub-cat-list .slider-cat:before {
    content: '>';
}

.explorars-result {
    position: relative;
}

.explorars-result .noticas-image {
    min-height: 265px;
}








@media (max-width: 1200px) {

}

@media (max-width: 998px) {

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {

    .subslide-right {
        display: none;
    }
    .subslide-left {
        width: 100%;
        min-height: 300px;
    }
    .slider-content {
        padding-right: 20px;
    }
    #divulgar_result,
    #noticas_result {
        margin-right: 0;
    }
    .btn.custom-link:not(input):not(.checkout-button):not(.btn-no-scale), 
    .btn-link.custom-link:not(input):not(.checkout-button):not(.btn-no-scale) {
        transform: initial;
    }
    .noticas-wraper .col-lg-6{
        padding: 0;
    }
    .noticias-block {
        margin-top: 0;
    }
    .row.noticas-wraper {
        padding-top: 0;
    }
    .explorar-block .row.noticas-wraper {
        padding-top: 30px;
    }
    body[class*=hmenu] div:not(.menu-accordion) > ul.menu-smart > li:not(.social-icon) {
        padding: 4px;
    }
    .main-container #divulgar_result .row-container .row-parent {
        padding: 0;
    }
    .grid-filters .noticas-content a {
        padding: 0;
    }
    .chrome .pagination_wrap.col-lg-12,
    .pagination_wrap.col-lg-12  {
        padding: 0;
        padding-top: 30px;
    }



}

.noticias-block-2 {
    margin-top: 50px;
}
#conversas_digitais_result {
    display: flex;
      flex-wrap: wrap;
      margin-right: -40px;
      position: relative;
      width: -webkit-fill-available;
}
.noticias-block.conversas_digitais-block {
    margin-top: 0px;
}
.mainlogo img {
    width: 270px;
}