
.post-info {
	display: none;
}
.curso_before_content {
	color: #aca6a6;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 36px;
    margin-top: 15px;
}
.post-content .post-title {
   text-transform: uppercase;
}
.curso-sep {
    text-align: left;
    display: inline-block;
}

.single-curso #page-header .heading-text {
    display: none;
}

.acoes-de-formacao .cat-cursos {
    background-color: #6BC17E;
    border-color: #6BC17E
}
.workshops .cat-cursos {
    background-color: #22ABE2;
    border-color: #22ABE2;
}

/* related + swiper slider */

.swiper-container {
    margin-top: 36px;
    margin-bottom: 30px;
    width: 100%;
    height: 300px;
    position: relative;
}

.curso_wrap.column-style {
    display: flex;
	flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;	
    margin-top: 36px;
}
.curso_item {
    border: 0;
    position: relative;
	display: block;
}
.column-style .curso_item {
    margin-bottom: 30px; 
    flex: 0 0 33.33333%; 
    max-width: 33.33333%; 
    padding: 0 15px; 
    border: 0;
    position: relative;
    display: block;
}

.swiper-slide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}
.swiper-slide-active {
  opacity: 1;
  visibility: visible;
}
.swiper-slide-active + .swiper-slide {
  opacity: 1;
  visibility: visible;
}
.swiper-button-next, .swiper-button-prev {
    color: #f7f7f7;
}

.curso_item .t-entry-visual-overlay {
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 2;
    transition: opacity 0.2s ease-in-out;
/*    padding: 0 15px;*/
    opacity: 0.1;
}

.column-style .curso_item .t-entry-visual-overlay {
    padding: 0 15px;
    bottom: 5px;
}
.curso_item .t-entry-visual-overlay .t-entry-visual-overlay-in {
    width: 100%;
    height: 100%;
}

.curso_item .style-dark-bg {
    background-color: #141618;
}
.curso_item .t-overlay-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.curso_item .t-entry-title {
	color: white;
    /*    font-size: 22px;*/
    font-size: 37px;
    font-weight: bold;
}
.column-style .curso_item .t-entry-title {
    font-size: 22px;
}
.style-light a.curso_link {
    color: #ffffff;
    background-color: #228848;
    border-color: #228848;
	text-transform: uppercase;
    font-weight: 500;
    font-size: 9px;
    padding: 7px 7px;
    margin-top: 7px;
    display: inline-block;	        
}
a.curso_link:hover {
	color: white;
}
.style-light a.curso_link:not(.btn-text-skin):hover {
	color: white;
}
.curso_item .single-block-padding {
    padding: 36px 36px 22px 36px;
    position: absolute;
    bottom: 0;
    max-width: 70%;
    padding-left: 50px;
}
.column-style .curso_item .single-block-padding {
    padding-left: 36px;
}
.cat-cursos {
	color: #ffffff;
    background-color: #df3426; 
    border-color: #df3426;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 9px;
    padding: 7px 7px;
    margin-top: 7px;
    display: inline-block;
    position: absolute;
    right: 28px;
    top: 5px;
}
.destacar {
    position: absolute;
    left: 28px;
    top: 5px;   
}

.curso-related-img {
	min-height: 300px;
	object-fit: cover;
}
.column-style .curso-related-img {
   min-height: 230px;
}

/*download_formacao*/

.pdf_link {
    margin-top: 15px;
}
a.curso_link {
    color: #ffffff;
    background-color: #228848;
    border-color: #228848;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 9px;
    padding: 7px 7px;
    margin-top: 7px;
    display: inline-block;
}
.download_formacao_links {
    display: flex;
    max-width: 390px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.dowload-row {
    padding: 36px 36px 36px 36px;
}

.single-curso .main-container .row-container .double-bottom-padding {
     padding-bottom: 0px; 
}



@media (max-width: 1098px) {
	.column-style .curso_item .t-entry-title {
        font-size: 22px;
	}
	.column-style .curso_item {
	    flex: 0 0 50%;
	    max-width: 50%;
	    width: 50%;
	}	
}
@media (max-width: 780px) {
	.curso_item .t-entry-title {
/*	    font-size: 37px;*/
	}
	.column-style .curso_item {
	    flex: 0 0 100%;
	    max-width: 100%;
	    width: 100%;
	}		
}
@media (max-width: 780px) {
	.curso_item .t-entry-title {
	    font-size: 30px;
	}
    .column-style .curso_item .t-entry-title {
        font-size: 22px;
    }
    .swiper-slide-active + .swiper-slide {
        opacity: 0;
        visibility: hidden;
    }	
}	
@media (max-width: 410px) {
	.curso_item .t-entry-title {
	    font-size: 30px;
	}
    .column-style .curso_item .t-entry-title {
        font-size: 17px;
    }    		
}

